// core overrides

$border-color:                      $gray-200;

// Navbar


$navbar-brand-width:                200px;
$navbar-brand-bg:                   darken($gray-800,10%);
$navbar-brand-logo:                 url('../img/logo.png');
$navbar-brand-logo-size:            70px auto;
$navbar-brand-border: (
  bottom: (
    size:                           1px,
    style:                          solid,
    color:                          darken($gray-800,10%)
  )
);

// Sidebar

$sidebar-width:                     200px;
$mobile-sidebar-width:              $sidebar-width;
